/*
Common CSS
*/
body {
  font-family: 'Inter', sans-serif;
  color: #181818;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
  padding: 0;
}
p {
  color: rgba(24, 24, 24, 0.7);
  font-weight: 400;
  margin: 0 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 15px;
}
a {
  transition: 0.5s;
  text-decoration: none;
}
ul,li{
  list-style-type: none;
}

/*-------NAVBAR CSS------  */
.navbar {
  padding: 33px 0;
}
.navbar-nav .nav-link:hover {
  color: #5956e8;
}

.btns a {
  background-color: #5956e8;
  color: #fff;
  padding: 13px 24px;
  border-radius: 10px;
}
/*-------BANNER CSS------  */
#banner {
  background-color: #5956e8;
  padding: 182px 0;
}
.banner-left h1 {
  color: #fff;
  font-size: 65px;
  line-height: 80px;
  font-weight: 700;
  padding-bottom: 25px;
}
.banner-left p {
  color: #fff;
  padding-right: 5px;
  padding-bottom: 43px;
}
.banner-left a {
  background-color: #fff;
  color: #5956e8;
  padding: 13px 22px;
  border-radius: 10px;
}
/*-------SERVICE CSS------  */
#service {
  padding: 100px 0;
}
.headline p {
  padding-right: 5px;
  padding-bottom: 50px;
}
.service-item {
  padding: 63px 48px;
  border: 1px solid rgba(227, 227, 227, 0.50);
  border-radius: 10px;
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.3);
}
.service-item i {
  width: 71px;
  height: 71px;
  border: 1px solid #5956e8;
  border-radius: 10px;
  color: #5956e8;
  text-align: center;
  line-height: 71px;
}
.service-item:hover i {
  background-color: #5956e8;
  color: #fff;
}
.service-item h4 {
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px;
}
.service-item p {
  font-size: 15px;
}
/*-------PORTFOLIO CSS------  */
#portfolio {
  padding-bottom: 100px;
}
.portfolio-profile{
  margin-bottom: 30px;
}
.profile-link {
  width: 85%;
  left: 20px;
  bottom: 20px;
  padding: 25px 40px;
  border-radius: 10px;
  background-color: #5956e8;
  transition: ease-in-out 0.3s;
  visibility: hidden;
}
.profile-link h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.profile-link a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.profile-link i {
  margin-left: 10px;
}
.portfolio-profile:hover .profile-link {
  visibility: visible;
}
/*-------MEMBER CSS------  */
#member{
  padding-bottom: 142px;
}
.member-details {
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  /* background-image: linear-gradient( red, yellow);
  width: 100%; */
}
.member-profile::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: '';
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(89, 86, 232, 0.7)
  );
}
.member-details h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.member-details p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
/*-------REVIEW CSS------  */
#review{
  padding-bottom: 142px;
}
#review .headline h3{
font-size: 39px;
}
.customer-review{
  padding: 48px 30px 24px 48px;
  border-radius: 10px;
 border:1px solid rgba(227, 227, 227, 0.50);
 box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.3);
}
.customer-review img{
  width: 83px;
  height: 83px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.stars i{
  width: 20px;
  height: 20px;
  color: #FBBF25;
  margin-bottom: 30px;
}
.customer-review p{
  font-size: 16px;
}
.name h5{
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 0;
}
.quotation{
  width: 63px;
  height: 46px;
  width: 100%;
  height: 100%;
  bottom: 24px;
  right: 30px;
}
.quotation i{
font-size: 46px;
color: rgba(89, 86, 232, 0.10);
margin-top: 31px;
margin-left: 96px;
}
/*-------NEWS CSS------  */
#news{
  padding-bottom: 100px;
}
.news-item{
  padding: 19px 19px 46px 19px;
  border:1px solid rgba(227, 227, 227, 0.50);
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.news-item img{
  margin-bottom: 19px;
}
.news-item h5{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 15px 35px 15px 15px;
}
.news-item p{
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin: 10px 15px;
}
.news-item a{
  color: #5956E8;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 15px;
}
/*-------FOOTER CSS------  */
footer{
  background-color: rgba(89, 86, 232, 0.10);
  padding: 100px 0;
}
.footer-left p{
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 65px;
}
.footer-left a i{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  color: #337FFF;
  text-align: center;
  line-height: 42px;
}
.footer-left .twit{
  color: #33CCFF;
}
.footer-details h6{
  font-size: 20px;
  font-weight: 600;
}
.footer-details ul li a{
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #5D5D5D;
}

